python-telegram-bot==20.7
python-dotenv==1.0.1
g4f[all]==0.3.0.8
deep-translator==1.11.4
pymongo==4.7.1
pytz==2024.1
Flask==3.0.3
requests==2.31.0
SafoneAPI==1.0.62
pytube==15.0.0
psutil==5.9.8
TgCrypto==1.2.5