# ----- DON'T USE "" WHERE I DIDN'T USED -----
# ----- "" STR -----   INT ------------------

# bot
BOT_TOKEN = ""                         # STR Get from > https://t.me/BotFather
OWNER_ID =                             # INT After bot starts use /id
OWNER_USERNAME = ""                    # STR without @ eg. bishalqx980 not @bishalqx980
BOT_PIC = ""                           # STR image link
WELCOME_IMG = "true"                   # BOLLEAN true or false

# database
MONGODB_URI = ""                      # STR Get from > https://www.mongodb.com/
DB_NAME = ""                          # STR Anything you like (unchangeable)

# api's
SHRINKME_API = ""                     # STR Get from > https://shrinkme.io/
OMDB_API = ""                         # STR Get from > https://www.omdbapi.com/
WEATHER_API = ""                      # STR Get from > https://www.weatherapi.com/
IMGBB_API = ""                        # STR Get from > https://api.imgbb.com/